@media screen and (max-width: 768px) {
  .banner-content {
    width: 90%;
  }

  .banner-texto h1 {
    font-size: 24px;
    color: var(--primary);
  }

  .banner-texto h2 {
    margin: 15px 0;
    font-size: 32px;
  }

  .tracking-id {
    margin-top: 5px;
  }

  .section-subtitle {
    font-size: 30px;
  }

  .quote {
    padding-top: 44px;
  }

  .quote-texto {
    margin-bottom: 20px;
  }

  .grid-quote {
    flex-direction: column;
  }

  .grid-quote-content {
    width: 80%;
  }

  .grid-quote-dados {
  flex-direction: column;
  } 


  .quote-dados .quote-number {
    font-size: 2rem;
  }


  .formulario {
    min-width: 300px;
    width: 80%;
    margin-top: 30px;
  }

  .grid-precos {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-top: 30px;
  }

  .grid-team  {
    grid-template-columns: 1fr;
  }

  #blog {
    padding: 20px;
  }

  .blog-container {
    width: 100%;
  }

  .blog-grid {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  #footer {
    padding: 0 20px;
  }

  .footer-grid {
    grid-template-columns: 1fr;
    padding: 40px 15px;
  }

  .copyright-section {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 30px 20px 50px;
  }

  .copyright p {
    width: 100%;
    text-align: center;
  }

  .footer-title {
    margin-top: 20px;
  }

  #footer button {
    font-size: 14px;
  }

  .preco {
    display: flex;
  }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
    .grid-quote {
    flex-direction: column;
  }

  .grid-team  {
    grid-template-columns: 1fr 1fr;
  }

   .grid-quote-content {
    width: 70%;
    margin-top: 30px;
  }


  #footer {
    padding: 0 20px;
  }

  .footer-grid {
    grid-template-columns: 1fr;
    padding: 40px 15px;
  }

  .copyright-section {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 30px 20px 50px;
  }

  .copyright p {
    width: 100%;
    text-align: center;
  }

  .footer-title {
    margin-top: 20px;
  }

  #footer button {
    font-size: 14px;
  }

  .preco {
    display: flex;
  }
}
