:root {
    --primary: #FF4800;
    --secondary: #F2F2F4;
    --dark: #1F1F2E;
    --font-family-poppins: "Poppins", sans-serif;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
  font-family: var(--font-family-poppins);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }

  .container h4{
    font-family: var(--font-family-poppins);
    font-size: 1rem;
    color: var(--primary);
  }
  
  .container h1 {
    font-family: var(--font-family-poppins);
    font-size: 2.3rem;
    color: var(--dark);
  }

  .quote-form{
    max-width: 650px;
  }

  .quote-form p{
    font-family: var(--font-family-poppins);
    font-size: 1rem;
    color: var(--dark);
  }
  
  .grid-quote-dados{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 500px;
  }

  .quote-dados{
    display: flex;
    flex-direction: column;
  }

  .quote-dados p{
    font-family: var(--font-family-poppins);
    font-size: 1rem;
    color: var(--dark);
  }
  
  .quote-dados h1{
    font-family: var(--font-family-poppins);
    font-size: 2.3rem;
    color: var(--primary);
  }

/* Estilo do footer */

#footer {
  background-color: var(--dark);
  color: white;
  font-size: .7rem;
}

#footer p, li {
  margin-bottom: 10px;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  padding: 70px 30px;
}

.footer-link {
  text-decoration: none;
  color: white;
}

.footer-link:hover {
  text-decoration: underline;
}

#footer hr {
  border: 1px solid rgba(255, 255, 255, 0.219);
}

.copyright-link {
  text-decoration: none;
  color: var(--primary);
}

.footer-title {
  color: var(--primary);
  font-size: 1.2rem;
  margin-bottom: 16px;
}

.footer-list {
  list-style-type: none;
}

.footer-list li i {
  margin-right: 10px;
}

.copyright-section {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.copyright p {
  width: 70%;
}

.copyright-list {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

@media screen and (max-width: 768px) {
  .footer-grid {
  grid-template-columns: 1fr;
  padding: 70px 15px;
  }

  .copyright-section {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 50px;
  }

  .copyright p {
    width: 100%;
  text-align: center;
  }
}
