:root {
  --primary: #FF4800;
  --secondary: #F2F2F4;
  --dark: #1F1F2E;
  --font-family-poppins: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-poppins);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#footer {
  background-color: var(--dark);
  color: white;
}

.footer-link {
  text-decoration: none;
  color: white;
}

.footer-link:hover {
  text-decoration: underline;
}

.copyright-link {
  text-decoration: none;
  color: var(--primary);
}

.footer-title {
  color: var(--primary);
}