:root {
  --primary: #FF4800;
  --secondary: #F2F2F4;
  --dark: #1F1F2E;
  --font-family-poppins: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-poppins);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#footer {
  background-color: var(--dark);
  color: white;
  font-size: .7rem;
}

#footer p, li {
  margin-bottom: 10px;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  padding: 70px 30px;
}

.footer-link {
  text-decoration: none;
  color: white;
}

.footer-link:hover {
  text-decoration: underline;
}

.copyright-link {
  text-decoration: none;
  color: var(--primary);
}

.footer-title {
  color: var(--primary);
  font-size: 1.2rem;
  margin-bottom: 16px;
}

.footer-list {
  list-style-type: none;
}

.footer-list li i {
  margin-right: 10px;
}

.copyright-section {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.copyright p {
  width: 70%;
}

.copyright-list {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

@media screen and (max-width: 768px) {
  .footer-grid {
  grid-template-columns: 1fr;
  padding: 70px 15px;
}
}
